body {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
}
.div1 {
    border: 1px solid hsl(234, 85%, 45%);
    border-radius: 14px;
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: inline-block;
    width: 270px;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: -5px 0 60px hsla(234, 85%, 45%, 0.5);
    margin-top: 50%;
    margin-bottom: 50%;
    
    
}
.div1 p {
    font-size: 18px;
}
.div2 {
    background-color: white;
    border: 1px solid white;
    display: inline-block;
    width: 300px;
    border-radius: 14px;
    box-sizing: border-box;
    padding: 30px 0;
    box-shadow: 5px 0 60px hsla(234, 85%, 45%, 0.5);
    z-index: -1;
    margin-left: -10px;
    margin-top: 50%;
    margin-bottom: 50%;
}
.div2 p:first-child {
    text-align: left;
    margin-left: 20px;
    margin-top: 1px;
}
.div2 p:nth-child(2) {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
    width: 255px;
    height: 45px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.div2 p:nth-child(2) .span {
    margin-left: 105px;
    color: black;

}
.div2 p:nth-child(2) img {
    margin-right: 5px;
}
.span2 {
    color: hsl(224, 30%, 27%, 0.5);
}
.div2 p:nth-child(3) {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
    width: 255px;
    height: 45px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.div2 p:nth-child(3) .span {
    margin-left: 105px;
    color: black;

}
.div2 p:nth-child(3) img {
    margin-right: 5px;
}
.span2 {
    color: hsl(224, 30%, 27%, 0.5);
}
.div2 p:nth-child(4) {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
    width: 255px;
    height: 45px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.div2 p:nth-child(4) .span {
    margin-left: 118px;
    color: black;

}
.div2 p:nth-child(4) img {
    margin-right: 5px;
}
.span2 {
    color: hsl(224, 30%, 27%, 0.5);
}
.div2 p:nth-child(5) {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
    width: 255px;
    height: 45px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.div2 p:nth-child(5) .span {
    margin-left: 120px;
    color: black;

}
.div2 p:nth-child(5) img {
    margin-right: 5px;
}
.span2 {
    color: hsl(224, 30%, 27%, 0.5);
}
/*this is a button*/
button {
    background-color:hsl(0, 0%, 0%);
    color:hsl(0, 0%, 100%);
    border-radius: 40px;
    width: 255px;
    margin: auto;
    text-align: center;
    height: 45px;
    border: none;
    margin-left: 7%;
    margin-top: 10px;
   
    
}
button:hover {
    background-color: hsl(241, 81%, 54%);
    cursor: pointer;
    color: white;

}
.circle {
    width: 150px;
    height: 180px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin: auto;
    margin-top:-20px;
    margin-bottom: 50px;
    
}
.circle p:first-child {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: -20px;
    
}
.p p {
    margin-bottom: -90px;
}
h2 {
    text-align: center;
    color: hsl(241, 100%, 89%);
    margin-bottom: 10px;
    
}
.div1 p {
    text-align: center;
    color: hsl(241, 100%, 89%);
    padding-left: 5px;
    padding-right: 5px;

}


